body    {
   background-color:dodgerblue;
   
}

H1   {
      font-family: indie flower;
      font-size: 60px; 
     color: darkred;
}


ul   {
   font-family: indie flower;
   color: whitesmoke;
}

ol   { font-family: 'Cookie', cursive;

}

h2 { font-size: 40px;
font-family: 'Permanent Marker'; }



i { font-family: 'Amatic SC', cursive;
font-size: 20px; 

